## Deliverable 3. Create a Travel Itinerary Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,168,Jalu,LY,90.81,overcast clouds,29.0331,21.5482,صاحبة الفخامة
1,228,Cadereyta,MX,90.59,broken clouds,25.5833,-99.9833,Hotel Maria Luisa Inn and Suites
2,244,Bilma,NE,92.21,scattered clouds,18.6853,12.9164,Expeditions Ténére voyages
3,247,Oro Valley,US,94.08,clear sky,32.3909,-110.9665,"El Conquistador Tucson, A Hilton Resort"
4,394,Diapaga,BF,90.55,scattered clouds,12.0708,1.7889,Mairie Diapaga

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Degrees Fahrenheit</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# 4a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Matamoros") & (vacation_df["Hotel Name"]=="Quinta Belem")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Matamoros") & (vacation_df["Hotel Name"]=="Quinta Belem")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Cadereyta") & (vacation_df["Hotel Name"]=="Hotel Maria Luisa Inn and Suites")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="San Antonio")&(vacation_df["Hotel Name"]=="Drury Plaza Hotel San Antonio Riverwalk")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Oro Valley")&(vacation_df["Hotel Name"]=="El Conquistador Tucson, A Hilton Resort")]

In [13]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,667,Matamoros,MX,96.33,overcast clouds,25.5333,-103.25,Quinta Belem

In [14]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,228,Cadereyta,MX,90.59,broken clouds,25.5833,-99.9833,Hotel Maria Luisa Inn and Suites

In [15]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,639,San Antonio,US,91.15,scattered clouds,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk

In [16]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,247,Oro Valley,US,94.08,clear sky,32.3909,-110.9665,"El Conquistador Tucson, A Hilton Resort"

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end=vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Starting Vacation at: {start}.\nThen make your first stop at: {stop1}.\n Followed by stop 2: {stop2}. \n Proceed to stop 3: {stop3}.\n Ending Vacation at {end}')

Starting Vacation at: (25.5333, -103.25).
Then make your first stop at: (25.5833, -99.9833).
 Followed by stop 2: (29.4241, -98.4936).
 Proceed to stop 3: (32.3909, -110.9665).
 Ending Vacation at (25.5333, -103.25)

In [18]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
vacation_itinerary=gmaps.directions_layer(
    start,end,waypoints=[stop1, stop2, stop3],
    travel_mode="DRIVING")
                                         
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,667,Matamoros,MX,96.33,overcast clouds,25.5333,-103.2500,Quinta Belem
1,228,Cadereyta,MX,90.59,broken clouds,25.5833,-99.9833,Hotel Maria Luisa Inn and Suites
2,639,San Antonio,US,91.15,scattered clouds,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk
3,247,Oro Valley,US,94.08,clear sky,32.3909,-110.9665,"El Conquistador Tucson, A Hilton Resort"

In [20]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Degrees Fahrenheit</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
vacation_itinerary=gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2,stop3],
    travel_mode="DRIVING")
    
fig.add_layer(marker_layer)
fig.add_layer(vacation_itinerary)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))